.content {
  flex-wrap: wrap;
  padding: 25px 0;
  &__top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    flex-grow: 1;
    text-align: center;
    pointer-events: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: normal;
  }
}

.content__top-button {
  position: absolute;
  width: 85px;
  padding: 5px;
  &.button--edit {
    left: 15px;
  }
  &.button--delete {
    right: 15px;
  }
}

.content__list {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  list-style: none;
  flex-grow: 1;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  // overflow-y: visible;
  box-shadow: 1px 1px 10px 1px #ccc;
}
.notes__item {
  cursor: pointer;
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem 15px;
  font-weight: 300;
  border-bottom: 1px solid lighten(#ccc, 10%);
  &:last-of-type {
    margin-right: 0;
    padding-right: 0;
  }
  &--active {
    background-color: darken(rgb(228, 238, 244), 10%);
  }
  &:hover {
    background-color: rgb(228, 238, 244);
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
  }
}

.content__add-button {
  width: 100%;
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  height: 60px;
  align-self: flex-end;
  margin: 0 15px;
  margin-top: 20px;
}

.content__form {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.input-form__button--mobile {
    background: none;
    font-size: 0;
  }
  .input-form__button--desktop {
    display: none;
  }
  .input-form--confirm {
    margin-right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      svg {
        path {
          stroke: lighten($secondary-color, 10%);
        }
      }
    }
  }

  .input__form-text {
    position: relative;
    margin-left: 15px;
    width: 85%;
    input {
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      border: 1px solid lighten($secondary-color, 10%);

      border-radius: 5px;
    }

    .input-form--cancel {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      background: none;
      svg {
        opacity: 0.7;
      }
      &:hover {
        svg {
          opacity: 1;
          path {
            fill: $secondary-color;
          }
        }
      }
    }
  }
}
.notes__item-button {
  display: none;
}

@media (min-width: $tablet-width) {
  .content {
    height: auto;
    &__title {
      flex-grow: 1;
      text-align: center;
      font-size: 2.5rem;
    }
  }
  .content__top {
    position: relative;
    .button--edit {
      display: none;
    }
    .button--delete {
      position: absolute;
      width: auto;
      min-width: 110px;
      right: 0;
      font-size: 1.3rem;
      margin-right: 20px;
    }
  }

  .content__list {
    width: auto;
    margin-top: 35px;
    padding: 5px 0;
  }
  .notes__item {
    padding-left: 100px;
    position: relative;
    font-size: 1.5rem;

    border-bottom: none;
    input {
      display: none;
    }
    input + label {
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: 55px;
        top: 9px;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
      }
    }
    input:checked + label {
      &::before {
        background-color: #a2d5f2;
      }
      &::after {
        content: '';
        width: 30px;
        height: 30px;
        left: 63px;
        top: 20px;

        position: absolute;
        background-image: url('../../assets/okay.svg');
        background-repeat: no-repeat;
      }
    }
    &:hover {
      background: none;
      input + label {
        &::after {
          content: '';
          width: 30px;
          height: 30px;
          left: 63px;
          top: 20px;

          position: absolute;
          background-image: url('../../assets/okay.svg');
          background-repeat: no-repeat;
        }
      }
      .notes__item-button {
        &.button--edit,
        &.button--delete {
          display: block;
        }
      }
    }
    .notes__item-button {
      &.button--edit {
        display: none;
        position: absolute;
        left: 20px;
        top: 9px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #ccc;
        box-sizing: content-box;
        svg {
          position: relative;
          top: 2px;
        }
      }
      &.button--delete {
        display: none;
        position: absolute;
        top: 18px;
        right: 25px;
        background: none;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .notes__item--active {
    background: none;
  }
  .content__form {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    .input-form__button--desktop {
      display: block;
    }
    .content__add-button {
      padding-left: 100px;
      margin: 0 25px;
      position: relative;
      font-size: 2rem;
      font-weight: normal;
      text-transform: none;
      text-align: left;
      color: #000000;
      background: none;
      opacity: 0.3;
      &:hover {
        background: none;
        opacity: 0.5;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 55px;
        width: 30px;
        height: 30px;

        background-image: url(../../assets/plus.svg);
        background-repeat: no-repeat;
      }
    }
    .input-form__button {
      height: 45px;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 1.3rem;
    }
    .input-form__button--mobile {
      display: none;
    }
    .input__form-text {
      width: 100%;
      margin: 0 25px;
      input[type='text'] {
        padding-left: 20px;
        font-family: 'Oswald';
        font-size: 20px;
      }
    }
    .input-form--cancel {
      margin-top: 10px;
      width: 100px;
      margin-right: 25px;
      margin-left: 25px;
      background-color: #000;
      opacity: 0.3;
      text-transform: uppercase;
      &:hover {
        background-color: #000;
        opacity: 0.5;
      }
    }
    .input-form--confirm {
      background-color: #68bbea;
      margin-top: 10px;
      flex-grow: 1;
      margin-right: 26px;
    }
  }
}
