.header {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
  background-color: $main-color;
  border-bottom: 1px solid $secondary-color;
  pointer-events: none;
  &__title {
    // padding-top: 1rem;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  &__text {
    color: #fff;
    line-height: 1rem;
    // padding-bottom: 1rem;
  }
}

@media (min-width: $tablet-width) {
  .header {
    height: 100px;
    padding-top: 20px;
    border-bottom-width: 2px;
    &__title {
      font-size: 3.1rem;
    }
    &__text {
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }
}
