.main {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f5f5f5;
}

@media (min-width: $tablet-width) {
  .main {
    // position: relative;
    // width: 100%;
    background: none;
  }
  .main__wrapper {
    position: absolute;
    min-height: 800px;
    min-width: 768px;
    max-width: 1120px;
    width: 768px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0 0 80px 4px #ccc;
  }
}
