@import './variables';
@import './components/main';
@import './components/header';
@import './components/content';

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
p,
button {
  padding: 0;
  margin: 0;
}

#root {
  min-width: 417px;
  font-family: 'Oswald';
  background-color: #f5f5f5;
  height: 100vh;
}

.button {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: $secondary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}
